@charset "UTF-8";

.button01 {
  display: inline-block;
  width: 100%;
  max-width: 354px;
  font-weight: 500;
  color: #fff;

  text: {
    decoration: none;
    align: left;
  }

  border: 1px solid $primary;
  border-radius: 35px;
  background: $primary;
  padding: 22px 10px 22px 30px;
  transition: all 0.3s;
  line-height: 1.5;
  letter-spacing: .04em;
  position: relative;

  @media only screen and (max-width: $screen-tb) {
    max-width: 340px !important;
    font-size: 14px;
    padding: 17.5px 60px 17.5px 19px;
  }

  &::before {
    content: "";
    width: 38px;
    height: 38px;
    background: url(../../img/common/btn01.png) no-repeat center/cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;

    @media only screen and (max-width: $screen-tb) {
      right: 5px;
    }
  }

  &:hover {
    color: $primary;
    background: #fff;

    &::before {
      background: url(../../img/common/btn01_hv.png) no-repeat center/cover;
    }
  }

  &.-no-arrow {
    &::before {
      content: none;
    }

  }

  &.-back {
    padding: 22px 10px;
    text-align: center;

    &::before {
      right: unset;
      left: 14px;
      transform: translateY(-50%) scaleX(-1);
    }

    @media only screen and (max-width: $screen-tb) {
      padding: 17.5px 10px 17.5px 10px;

      &::before {
        left: 5px;
      }
    }
  }
}

.button02 {
  @extend .button01;
  border: 1px solid $secondary;
  background: $secondary;

  &::before {
    background: url(../../img/common/btn02.png) no-repeat center/cover;
  }

  &:hover {
    color: $secondary;
    background: #fff;

    &::before {
      background: url(../../img/common/btn02_hv.png) no-repeat center/cover;
    }
  }

  &.-fix {
    padding: 17px 40px 17px 30px;
  }
}

.button03 {
  line-height: 1.5;
  font-weight: bold;
  color: $primary;
  position: relative;
  transition: all .3s;
  padding-right: 60px;
  display: inline-block;

  @media only screen and (max-width: $screen-tb) {
    padding-right: 51px;
  }

  &::before {
    background: url(../../img/common/btn01_hv.png) no-repeat center/cover;
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    transition: all .3s;

    @media only screen and (max-width: $screen-tb) {
      width: 34px;
      height: 34px;
    }
  }

  &:hover {
    color: $base-font-color;

    &::before {
      background: url(../../img/common/btn01.png) no-repeat center/cover;
    }
  }
}