@charset "UTF-8";

// --------------------------------------------------
// Headings
// --------------------------------------------------
h1 {
  &.-detail {
    font-size: 27px;
    line-height: 1.7;
    letter-spacing: 0;
    font-family: $f-sawa;
    font-weight: 400;

    @media only screen and (max-width: $screen-tb) {
      font-size: 23px;
    }
  }
}

h2 {
  &.top {
    // トップページ用
    text-align: center;
    font-weight: bold;
    margin-bottom: 38px;

    @media only screen and (max-width: $screen-tb) {
      margin-bottom: 23px;

    }

    .en {
      font: {
        size: 60px;
        family: $f-open;
        weight: 600;
      }

      line-height: 1.2;
      letter-spacing: 0;
      color: #242E56;
      display: block;

      @media only screen and (max-width: $screen-tb) {
        font-size: 45px;
        line-height: 1.1;
      }
    }

    .jp {
      font-size: 22px;
      letter-spacing: .1em;
      line-height: 1.45;
      font-family: $f-sawa;
      font-weight: 400;

      @media only screen and (max-width: $screen-tb) {
        font-size: 16px;
      }
    }
  }

  &:not(.top) {

    // サブページ用
    font: {
      size: 28px;
      weight: 400;
      family: $f-sawa;
    }

    line-height: 1.73;
    text-align: center;
    padding: 16px;
    border-bottom: 3px solid #D0D2D8;
    border-top: 3px solid #D0D2D8;
    letter-spacing: .1em;
    margin-bottom: 35px;

    @media only screen and (max-width: $screen-tb) {
      font-size: 20px;
      text-align: left;
      padding: 12px 0;
      margin-bottom: 29px;
    }
  }
}

h3 {
  &.top {
    // トップページ用
    line-height: 1.21;
    font-size: 28px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
    font-family: $f-sawa;
    letter-spacing: .1em;

    @media only screen and (max-width: $screen-tb) {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 39px;
    }

    &::before {
      content: "";
      width: 259px;
      height: 192px;
      background: url(../../img/page/index/h3.png) no-repeat center/cover;
      position: absolute;
      top: 0%;
      transform: translateY(-50%);
      left: -140px;
      z-index: -1;

      @media only screen and (max-width: $screen-tb) {
        left: -124px;
      }
    }
  }

  &:not(.top) {
    // サブページ用
    line-height: 1.15;
    font-size: 26px;
    font-weight: 400;
    padding-left: 20px;
    position: relative;
    margin-bottom: 28px;
    font-family: $f-sawa;

    @media only screen and (max-width: $screen-tb) {
      font-size: 18px;
      line-height: 1.65;
      padding-left: 16px;
      margin-bottom: 14px;
    }

    &::before {
      content: "";
      width: 3px;
      height: 125%;
      border-radius: 1px;
      background: $primary;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      position: absolute;

      @media only screen and (max-width: $screen-tb) {
        height: 87%;
      }
    }
  }
}

h4 {
  &.top {
    // トップページ用
  }

  &:not(.top) {
    // サブページ用
    font-size: 22px;
    line-height: 1.36;
    font-weight: 400;
    margin-bottom: 23px;
    font-family: $f-sawa;

    @media only screen and (max-width: $screen-tb) {
      font-size: 16px;
      line-height: 1.75;
      margin-bottom: 6px;
    }
  }
}

h5 {
  &.top {
    // トップページ用
  }

  &:not(.top) {
    // サブページ用
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;

    @media only screen and (max-width: $screen-tb) {
      font-size: 16px;
    }
  }
}